

body {
    background-color: #eddbce;
}

.container {
    position: relative;
}

.container .wrapper {
    width: 70vw;
    height: 75vh;
    border: 1px solid #000;
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 16px;

}

.container .slider-holder{
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 100%;
}

.container #slider-image1 {
    background-image: url(../img/kamera-billeder-small/bladkrans-slide1.jpg);
    background-size: cover;
}

.container #slider-image2 {
    background-image: url(../img/kamera-billeder-small/bladkrans-slide2.jpg);
    background-size: cover;
}

.container #slider-image3 {
    background-image: url(../img/kamera-billeder-small/bladkrans-slide3.jpg);
    background-size: cover;
}

.container #slider-image4 {
    background-image: url(../img/kamera-billeder-small/bladkrans-slide4.jpg);
    background-size: cover;
}

.container .button-holder{
    position: absolute;
    bottom: 0%;
    left: 45%;
}

.container .button-holder .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: antiquewhite;
    margin: .4rem .3rem;
}

